@model IEnumerable<withusafe2.Models.Disease_infection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        padding-top:20px;
        color: #545454;
        /*font-weight: bold!important;*/
        font-weight: 900 !important;
        background-image: url('../../Content/picture/infec-bg.png');
        height: 80px;
        font-weight: 500;
        -webkit-transition: .4s;
        transition: .4s;
        border: 0 None;
    }

    .nav-tabs > li > a {
        color: #545454;
        font-weight: bold;
        background-image: url('../../Content/picture/infec-bg1.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 60px;
    }

    .infec-title {
        font-weight: bold;
        color: #DF744A;
        margin: 30px 0;
    }

    .infec-text {
        color: #5b5b5c;
        line-height: 25px;
    }
</style>
<div class="container">

    <h2 class="infec-title" align="center">Infection Control</h2>

    <p class="infec-text" align="center">
        Infections can spread in any environment. The advice in this guide is taken from Australian Guidelines for the Prevention and Control of Infection in Healthcare, 2010 by the National Health and Medical Research Council (NHMRC).<br />
        This guide aims to provide advice to assistants in nursing and personal care that complements their training on infection prevention and control
    </p>
    @*<i class="fas fa-fish"></i>
    <i class="fas fa-frog"></i>
    <i class="fas fa-user-ninja vanished"></i>
    <i class="fab fa-facebook"></i>*@

    <div class="container" style=" padding: 10px;">
        <div class="bs-callout bs-callout-danger">
            <div class="row">
                <div class="col-xs-4 col-sm-3  fadeInDown">
                    <div class="tab-wrap">
                        <div class="media">
                            <h4>Potential disease(s) that match  your symptoms</h4>
                            <div class="parrent">
                                <ul class="nav nav-tabs nav-stacked">
                                    @for (int a = 0; a < (Model.Count()); a++)
                                    {
                                        if (a == 0)
                                        {
                                            <li class="active">
                                                <a href="@("#tab" + Html.DisplayFor(modelItem => (Model.ToList()[0].Id)))" data-toggle="tab" class="tehnical" style="font-size:15px; font-weight:700;">

                                                    @(Html.DisplayFor(modelItem => Model.ToList()[0].Disease_name))
                                                    @if (Model.ToList()[0].Rate == 1)
                                                    {
                                                        <p style="font-size:11px;color:#ff0000;margin-top:8px;">Infective!!!</p>
                                                    }

                                                </a>


                                            </li>
                                        }
                                        else
                                        {
                                            <li class="">
                                                <a href="@("#tab" + Html.DisplayFor(modelItem => (Model.ToList()[a].Id)))" data-toggle="tab" class="tehnical" style="font-size:15px; font-weight:700;">

                                                    @(Html.DisplayFor(modelItem => Model.ToList()[a].Disease_name))
                                                    @if (Model.ToList()[a].Rate == 1)
                                                    {
                                                        <p style="font-size:11px;color:#ff0000;margin-top:8px;">Infective!!!</p>
                                                        //Html.Display("This is infective");
                                                    }
                                                </a>

                                            </li>
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top:30px">
                        <input type="button" class="btn btn-success" value="Print this page" onclick="printpage()" />
                    </div>


                </div>

                <div class="col-xs-8 col-sm-9 " style="padding-top:30px">
                    <div class="parrent media-body" style="background-color: #E2EEF3; border-radius: 15px 50px; margin-top:60px; padding-left:20px;padding-top:20px">
                        <div class="tab-content">
                            @for (int a = 0; a < (Model.Count()); a++)
                            {
                                if (a == 0)
                                {
                                    <div class="tab-pane fade active in text-left" id="@("tab" + Html.DisplayFor(modelItem => (Model.ToList()[0].Id)))">
                                        <p style="font-size:30px;"><i class="fas fa-puzzle-piece" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">  Symptom Match:</span><span style="font-size:25px">@(ViewBag.input + "/" + Model.ToList()[0].Symptoms.Split(',').Count())</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-certificate" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Other Name:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[0].Other_names)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-capsules" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Treatment:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[0].Treatment)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-book-open" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   The exact symptoms of the disease:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[0].Signs)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-clinic-medical" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Infection Control:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[0].Infectous_control)</span></p>

                                        <p style="font-size:30px;"><i class="fas fa-briefcase-medical" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Medication:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[0].Medication)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-sad-tear" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Symptoms:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[0].Symptoms)</span></p>
                                        @*<p>Symptoms</p>
                                    <p>@Html.DisplayFor(modelItem => Model.ToList()[0].Symptoms)</p>*@
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="@("tab" + Html.DisplayFor(modelItem => (Model.ToList()[a].Id)))">
                                        <p style="font-size:30px;"><i class="fas fa-puzzle-piece" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">  Symptom Match:</span><span style="font-size:25px">@(ViewBag.input + "/" + Model.ToList()[a].Symptoms.Split(',').Count())</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-certificate" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Other Name:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[a].Other_names)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-capsules" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Treatment:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[a].Treatment)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-book-open" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   The exact symptoms of the disease:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[a].Signs)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-clinic-medical" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Infectious Control:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[a].Infectous_control)</span></p>

                                        <p style="font-size:30px;"><i class="fas fa-briefcase-medical" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Medication:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[a].Medication)</span></p>
                                        <p style="font-size:30px;"><i class="fas fa-sad-tear" style="color:tomato; font-size: 1em;"></i><span style="font-weight:600">   Symptoms:</span><span style="font-size:25px">@Html.DisplayFor(modelItem => Model.ToList()[a].Symptoms)</span></p>

                                        @*<p>Symptoms</p>
                                    <p>@Html.DisplayFor(modelItem => Model.ToList()[a].Symptoms)</p>*@
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
           

            
          

            <div style="text-align:center">
                <br>
                <br>
                <table style="width:70%;">
                <tr>
                    <td>
                <a href="~/symptoms/Search" class="btn green" style="width:120px">Previous</a>
                        </td>
                    <td align="right">
                <a href="~/Home/Index" class="btn green" style="width:120px;">Home</a>
                        </td>
                </tr>
                </table>

            </div>
        </div>







    </div>
</div>
@section Scripts{
    <script>
        function printpage() {
            window.print()
        }
    </script>
}
