@model withusafe2.Models.quiz2
@{
    ViewBag.Title = "quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-head"> Risk Precautions </h3>
<p class="box-desc">WithU provides nurses with simple and quick risk assess and precautions, to support you get prepared for each visit.</p>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>High-risk Screening<font size="2">(by Occupational Health and Safety Act 2004 (Vic) by WorkSafe Victoria)</font>:</h2>
                        <p>
                            Brief screening tool to identify clients presenting to triage (emergency) that may be at high risk of violence or self-harm.
                            Tick boxes when potential risk identified.
                        </p>
</div>
                <div class="panel-body">
                    @using (Html.BeginForm("Survey", "Home", FormMethod.Post))
                    {
                        <b>Want Additional Benefit: </b><br />
                        <span>@Html.CheckBoxFor(m => m.first, false)<font size="4"> Presenting with injuries inflicted by self or others </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.second, false)<font size="4"> Substabce or alcohol affected </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.third, false)<font size="4"> Behavioural disturbance </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.forth, false) <font size="4">Stating intention to harm self or others </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.fifth, false)<font size="4"> Hyper-vigilance</font> </span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.sixth, false) <font size="4">Suspected of having weapons </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.seventh, false)<font size="4"> Confusion </font></span>
                        <br>
                        <div style="align-content:center;text-align:center;">
                            <input type="submit" value="Next" class="top-button green" style="margin-top:10px; height:50px; padding-bottom:15px;" />
                        </div>

                    }
                    @*<div style="align-content:center;text-align:center;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="/Home/Age" tabindex="-1">Previous </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="/locations/index"> 1 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/Gender"> 2 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/Age"> 3 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/quiz"> 4 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/quizz"> 5 </a></li>
                                @*<li class="page-item">
                                    <a class="page-link" href="/Home/quizz">Next</a>
                                </li>*@
                            @*</ul>
                        </nav>
                    </div>*@
                </div>
</div>
</div>
</div>
</div>
