@model withusafe2.Models.quizz
@{
    ViewBag.Title = "quizz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-head"> Risk Precautions </h3>
<p class="box-desc">WithU provides nurses with simple and quick risk assess and precautions, to support you get prepared for each visit.</p>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>
                        Safety Precautions Checklist: <br />
                        <font size="2">(by Occupational Health and Safety Act 2004 (Vic) by WorkSafe Victoria)</font>
                    </h2>
                    <p>Current safety precautions.□Tick if completed</p>
                </div>
                    
                <div class="panel-body">
                    @using (Html.BeginForm("Reportt", "Home", FormMethod.Post))
                    {
                        <b>Safety Precautions Checklist: </b><br />
                        <span>@Html.CheckBoxFor(m => m.firstt, false) <font size="4">Emergency response plan in place</font> </span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.secondd, false) <font size="4">Security back-up </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.thirdd, false) <font size="4">Duty administrator,senior clinician, psychiatric consultant nurse, patient advocate consulte consulted/advised </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.forthh, false) <font size="4">Other staff are aware of the risk </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.fifthh, false)<font size="4"> Safety first(never engage if you have concerns for safety)</font> </span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.sixthh, false)<font size="4"> <a href="https://www.cdc.gov/niosh/docs/2012-118/pdfs/2012-118.pdf" target="_blank">Safety tips</a> reviewed </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.seventhh, false) <font size="4">Personal protection, communication devices and duress alarms reviewed </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.eighthh, false)<font size="4"> Environment checked for safety hazards </font></span>
                        <br>
                        <span>@Html.CheckBoxFor(m => m.nighthh, false) <font size="4">Adequate staffing (assessment of client by at least two staff) </font></span>
                        <br>
                        <div style="align-content:center;text-align:center;">
                            <input type="submit" value="Show Report" class="top-button quiz" style="margin-top:10px; height:30px;padding-top:2px; padding-bottom:2px;" />
                        </div>

                    }
                    @*<div style="align-content:center;text-align:center;">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li>
                    <a class="page-link" href="/Home/quiz" tabindex="-1">Previous </a>
                </li>
                <li class="page-item"><a class="page-link" href="/locations/index"> 1 </a></li>
                <li class="page-item"><a class="page-link" href="/Home/Gender"> 2 </a></li>
                <li class="page-item"><a class="page-link" href="/Home/Age"> 3 </a></li>
                <li class="page-item"><a class="page-link" href="/Home/quiz"> 4 </a></li>
                <li class="page-item"><a class="page-link" href="/Home/quizz"> 5 </a></li>*@
                <div class="pub-wrap">
                    <ul class="pub-process process-5 pub-process-flex" id="pubProcess">
                        <li class="active"><span class="ball"><font size="2"><a class="page-link" href="/locations/index">1</a></font></span></li>
                        <li class="active"><span class="ball"><font size="2"><a class="page-link" href="/Home/Gender">2</a></font></span></li>
                        <li class="active"><span class="ball"><font size="2"><a class="page-link" href="/Home/Age">3</a></font></span></li>
                        <li class="active"><span class="ball"><font size="2"><a class="page-link" href="/Home/quiz"> 4</a></font></span></li>
                        <li class="active"><span class="ball"><font size="2"><a class="page-link" href="/Home/quizz">5</a></font></span></li>
                    </ul>
                </div>



                    @*<li class="page-item">
            <a class="page-link" href="/Home/report">Next</a>
        </li>*@
                    </ul>
                    </nav>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>