
@{

    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-head"> Risk Precautions </h3>
<p class="box-desc">WithU provides nurses with simple and quick risk assess and precautions, to support you get prepared for each visit.</p>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-headd">Your Risk Precaution Report:</h3>
                    <p class="box-desc"><b>Based on your information, this is you risk precaution report.</b></p>
                </div>
                <div class="panel-body">
                    <h3>The Risk Index of Violence & Aggression in <font size="6" color="red">@ViewBag.Location</font> area is <font size="6" color="red">@ViewBag.AreaRate</font></h3>
                    <h3>This Risk Index is higher than <font size="6" color="red">@ViewBag.notification%</font> of other suburbs in Victoria</h3>
                    <hr>
                    <h3><font size="6" color="red">@ViewBag.Gender</font> between <font size="6" color="red">@ViewBag.Age</font> years old has <font size="6" color="red">@ViewBag.RiskRate</font> Risk Index</h3>
                    <h3><font size="5" color="black">@ViewBag.notification2</font></h3>
                    <hr>
                    <h3>@ViewBag.Checkone</h3>

                    <h3>@ViewBag.Checktwo</h3>

                    <div style="align-content:center;text-align:center;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="/Home/quizz" tabindex="-1">Previous </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="locations/index"> 1 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/Gender"> 2 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/Age"> 3 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/quiz"> 4 </a></li>
                                <li class="page-item"><a class="page-link" href="/Home/quizz"> 5 </a></li>
                                <li class="page-item">
                                    <a class="page-link" href="/Home/RiskControl">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                    @*<div style="align-content:center; text-align:center;">
                        <button class="top-button white" style="margin-top:10px; height:60px; padding-bottom:30px;">
                            <font size="5">@Html.ActionLink("Risk Control", "RiskControl", new { @class = "my-class" })</font>
                        </button>
                    </div>*@
                </div>
            </div>
            
            @*<hr>*@
            
        </div>
    </div>
</div>