<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="~/Content/picture/fav_icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WithU</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* This is for the mapbox map. *@
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    @*This is used for the Geocoding Mapbox API*@
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'>
    </script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css'
          type='text/css' />
    @*This is used for the D3 Liquid Fill Gauge API*@
    <script src="https://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="~/Scripts/liquidFillGauge.js" language="JavaScript"></script>

    @*This is used for pie chart*@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <style>
        .liquidFillGaugeText {
            font-family: Helvetica;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <table>
            <tr>
                <td valign="top">
                    <a href="/home/index"><img src="~/Content/picture/iconnew.png" width="130" height="50" style="margin-left: 0px" /></a>
                </td>
                <td>
                    <div class="container" style="padding-left:0px;">
                        <div class="navbar-header" style="padding-left:0px;width:80px;">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="@ViewBag.active" style="width:80px;"><a style="margin-bottom:0px;text-align:center;@ViewBag.font" href="/Home/index">Home</a></li>
                                @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                                <li class="@ViewBag.active1" style="@ViewBag.font1">@Html.ActionLink("Share Experiences", "Share_experience", "Home")</li>
                                <li class="@ViewBag.active2" style="@ViewBag.font2">@Html.ActionLink("Risk Precaution", "Index", "location_new")</li>
                                <li class="@ViewBag.active4" style="@ViewBag.font4">@Html.ActionLink("Infection Control", "Search", "Symptoms")</li>
                                <li class="@ViewBag.active5" style="@ViewBag.font5">@Html.ActionLink("Protect Yourself", "Protect", "Home")</li>
                                <li class="@ViewBag.active3" style="@ViewBag.font3">@Html.ActionLink("Get  Help", "Contact", "Home")</li>
                                <li>@Html.Partial("_LoginPartial")</li>
                            </ul>
                            <div style="margin-left:-60px;">
                                
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div @*class="container body-content"*@>
        @RenderBody()
        <hr />
        <div class="container body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - withU</p>
        </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
