@model IEnumerable<withusafe2.Models.location_new>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h3 class="text-head"> Risk Precautions </h3>

            <p class="box-desc">WithU provides nurses with simple and quick risk assessments and precautions, to help you get prepared for each visit.</p>
            <h2>Please Select Your Patient Location </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Suburb)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Postcode)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Suburb)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Postcode)
                        </td>
                        <td>
                            <p>
                                @Html.ActionLink("Select", "../Home/LocationNext", new { id = item.Id })
                            </p>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>

        $(document).ready(function () {
            $('.table').DataTable();
        });


    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />